<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/css.css">
</head>

<body>
    <h1>Welcome</h1>
    <ul>
        <div class="nav">
            <li><a href="/">หน้าหลัก</a></li>
            <li><a href="/shop">ร้านค้า</a></li>
            <li><a href="/admin">Admin</a></li>
        </div>
    </ul>
    <img class="img" src="/static/s.jpg" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit est amet at accusantium corrupti assumenda
        mollitia numquam culpa non repellat temporibus nobis dicta, quia rerum facilis sint corporis maxime modi sit
        dolore eius magnam. Ratione nisi error molestias, voluptate tempore commodi dolores dolore eum labore vitae
        fugit obcaecati minima laborum porro delectus hic reprehenderit vel culpa quis eveniet aperiam quibusdam velit.
        Sit quos deleniti eius officia incidunt aliquam ullam tempore quod consequatur eaque perferendis iusto ut
        facilis ipsa dignissimos in, enim, quasi, quas nam facere. Cum perspiciatis exercitationem enim earum officia
        laborum numquam adipisci quibusdam, esse et illo, beatae dolore sunt ducimus repellat ipsa doloribus, eum eius?
        Incidunt quibusdam expedita fugiat quos autem commodi asperiores nihil excepturi tenetur recusandae, porro
        voluptatum repellendus, esse placeat nemo voluptate, dolorem aliquid facilis voluptatibus praesentium cum
        repudiandae necessitatibus architecto repellat! Architecto possimus esse animi, consequatur magni, veniam iure
        blanditiis voluptate neque dolorem iusto! Aspernatur dicta, quo doloribus doloremque deleniti corporis porro
        perspiciatis ipsam quod reiciendis dolorum optio, praesentium vitae, consequuntur maxime. Ex dignissimos
        praesentium quas ipsum numquam, nobis voluptatibus eaque molestias facilis odit nostrum, natus inventore autem.
        Neque doloremque debitis deserunt quas corrupti ducimus asperiores est quis consequatur porro alias quidem ipsum
        commodi voluptate, atque laborum vitae tempore quos beatae ratione voluptatum officia? Incidunt odit nesciunt
        non dolorum est! Minima magni quaerat maxime odit aperiam nostrum iste at deserunt, soluta dolorum ducimus
        accusantium aliquam tempora deleniti animi provident expedita veritatis exercitationem, quae officiis incidunt.
        Recusandae veritatis non, ab ad quod quibusdam voluptatem eligendi rem nam exercitationem possimus sunt nostrum
        deleniti, tempore mollitia commodi quisquam corrupti et molestiae? Nobis molestias provident magnam quis eaque
        sapiente ipsam atque quae. Ut nemo sunt itaque consequatur nulla cumque sint aliquam voluptas culpa numquam,
        ipsa deleniti eum! Dolores, aliquam tenetur. Maiores asperiores molestiae, perferendis eius praesentium aliquid!
        Ratione magnam delectus quidem culpa. Natus voluptate veritatis, exercitationem eveniet nam, dolores similique
        enim eaque quae vero omnis nihil! Earum, nihil eum? Iusto libero eos molestiae, deserunt impedit ratione
        praesentium necessitatibus dolorem corrupti. Placeat tenetur impedit ratione cupiditate delectus at ullam rem
        veniam repellendus minima! Vero aliquid, ipsam, consequatur natus molestiae culpa recusandae, esse voluptatibus
        consequuntur ut voluptate libero. Tempore tenetur laudantium molestiae totam. Ex et qui veniam necessitatibus
        officia dolor natus sit eius itaque non obcaecati quasi magnam quo, corrupti neque. Tenetur, labore totam
        temporibus, atque reiciendis cum nisi fugiat molestiae culpa suscipit facere quaerat doloremque nemo! Quidem,
        sunt illo accusamus dignissimos mollitia amet eius ipsa ullam ex rerum velit eligendi expedita dolorum aliquid
        asperiores impedit quam, quo a, corrupti alias magni unde veniam reprehenderit? Doloremque odio voluptatibus
        assumenda, deleniti molestiae non fugit et corrupti pariatur eos perspiciatis sequi officiis numquam adipisci
        tenetur mollitia facilis, culpa nihil fugiat explicabo architecto aperiam impedit. Facilis quo maiores officia
        doloribus ipsam eveniet sed modi. Quae ullam quod vitae nemo omnis impedit rem aliquam modi iste molestiae
        tenetur officiis asperiores temporibus atque consectetur ex suscipit, error necessitatibus aspernatur! Assumenda
        blanditiis molestias a odio nobis cum, minima officia et necessitatibus voluptatum autem ratione, earum ab magni
        alias accusantium corrupti molestiae cupiditate. Magni, consectetur excepturi, sapiente totam asperiores unde
        eaque aliquid ipsum porro, sint quae iste accusamus soluta pariatur aliquam cum fuga quidem! Quod laborum soluta
        laudantium illum repellat facilis, officiis inventore quam esse exercitationem! Culpa commodi earum, saepe, quae
        laborum, natus porro deleniti ad doloremque aliquam facilis sequi dolorum! Facere, placeat dolorum veniam cumque
        tenetur ut, repellendus ratione illum necessitatibus id quas non optio temporibus recusandae esse laboriosam
        possimus explicabo modi illo. Nihil, voluptates optio esse praesentium neque corrupti doloremque consequatur
        laborum! Debitis beatae quaerat delectus, recusandae labore cupiditate similique consequuntur dolorem voluptate,
        porro sint libero sit repellendus tenetur corporis numquam deleniti quidem quae ab. Consequuntur corporis nobis
        ullam quidem deleniti, libero at illo esse omnis, perspiciatis ad odit exercitationem quasi tempora? Cupiditate
        rem aut dolorum sequi? Dolor quibusdam iste ut. Eveniet nostrum eius ad doloremque nam quidem ipsa perferendis
        atque ab dicta odit tempore provident modi minus adipisci hic a consectetur dolore cupiditate assumenda, ipsum
        eum ex. Deleniti nostrum quam molestias repellendus similique culpa! Ex sunt est ea, deleniti itaque reiciendis
        aut, alias molestias beatae dolorum quos illo nisi pariatur! Porro asperiores et quas quaerat placeat impedit
        ipsum, facere, aperiam corporis earum tempore necessitatibus est nihil. Totam facilis nisi, optio rem laborum
        vitae sed cupiditate tempore vero amet neque enim quibusdam ipsum unde consectetur repellat reiciendis dicta
        laudantium dolore numquam ducimus esse deserunt exercitationem! Corporis, suscipit quidem id omnis sequi ab amet
        fuga neque veniam quas saepe soluta? Tempore odit laboriosam nihil ullam facilis voluptatibus explicabo ipsum
        ipsam sequi, necessitatibus tenetur eveniet nam placeat suscipit minus, labore officiis! Totam facere
        reprehenderit quia ipsum nobis, distinctio commodi. Id tenetur ducimus perferendis! Omnis magnam atque cumque
        odio consequatur nihil excepturi quidem explicabo in deserunt earum libero ex dolores sapiente ipsam laborum,
        vitae repudiandae magni nesciunt et inventore iure unde? Unde ad nemo rem sapiente, blanditiis velit laudantium
        quibusdam corporis repellat, non magni quam adipisci mollitia iste, dolorem molestiae voluptate. Vero corporis
        perferendis ad molestias placeat suscipit laudantium consequuntur sunt quod, quisquam ipsam nam odit explicabo
        laborum corrupti eveniet hic qui illum sit ipsum at minus facilis nostrum delectus! Numquam laboriosam velit quo
        vel fugit reiciendis et aliquam corporis quidem asperiores, sapiente adipisci ullam culpa suscipit, id cum
        fugiat similique? Repudiandae odio fugit nesciunt, maxime ut mollitia assumenda sunt, doloribus sint suscipit
        enim minima eligendi tenetur? Adipisci distinctio ducimus, inventore quidem sint officia velit nihil, qui natus
        similique fugit! Repellat expedita culpa reprehenderit omnis hic in deleniti sit suscipit exercitationem
        aliquam! Temporibus id eos, hic non ab laboriosam tenetur ipsa totam nemo culpa ducimus iusto ea eaque
        consectetur modi nostrum dignissimos delectus harum sequi. A, fugiat quia sapiente omnis, dolorum sunt amet rem
        non, debitis qui recusandae ipsam error eveniet quae. Totam possimus commodi aliquam consectetur corrupti esse
        deserunt modi incidunt magni. Cupiditate ipsam corrupti provident quia, id repellat magnam architecto magni
        error dicta quam perspiciatis, laborum fugiat consequatur ex illum fugit accusamus. Voluptates ipsa fuga
        praesentium quo corrupti quos, ullam veniam possimus, dignissimos quas dolorem reprehenderit numquam.</p>
        <br>
        <h1>Profile : {{data}}</h1>
        <form method="post" action="">
            {{form.hidden_tag()}}
            {{form.name.label}}
            {{form.name()}}{{form.submit()}}
        </form>
        {% if name %}
        <h3>ชื่อของคุณ {{name}}</h3>
        {% else %}
        ไม่พบของมูล
        {% endif %}
</body>
</html>