<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    {% if name == "Lucas" %}
    <h1>Welcome</h1>
    <form action="{{url_for('testlink')}}" method="get">
        <div>
            <label>ชื่อ-สกุล</label>
            <input type="text" name="name1" id="">
        </div>
        <div>
            <label>เรื่องที่จะแจ้ง</label>
            <textarea name="sand" id="" cols="50" rows="10"></textarea>
        </div>
        <input type="submit" value="ส่งข้อมูล" class="btn btn-dark">
    </form>
    {% else %}
    <h1>you not admin</h1>
    <h3>{{name}}</h3>

    {%endif%}
</body>
</html>