<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/shop.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
            <li><a href="/admin">admin</a></li>
            <li><a href="/">index</a></li>
            <li><a href="/shop">shop</a></li>
            </ul>
        </nav>
    </header>
    <h1>Welcome to shop </h1>
    <h1>Hello:{{mn}}</h1>
    <img class="img" src="/static/8998adc40112985a8f29cf414925d390.gif" alt="">
    {%for i in mp %}
    <p>{{i}}</p>
    {% endfor %}
</body>
</html>